
        <link href="assets/css/main.min.css" rel="stylesheet" integrity="sha384-lkT6LB9ZXQ4HasJTUybBotcJO6w+8/Qo9wobTyh8lMxQLp5nc8zna1Ln5a4oZ6KS">
        <!-- <link href="assets/css/main.css" rel="stylesheet"> -->
        <div class="main row" id="vmain">
            <div class="col-lg-4 col-big-picture d-print-none">
                <header class="header">
                    <div class="content text-center">
                        <h1>{{ info.name }}</h1>
                        <h2>{{ info.headline }}</h2>
                        <ul class="social-icon">
                            <li v-for="msg in info.contact.messenger">
                                <a :href="msg.profile_url" target="_blank" data-toggle='tooltip' :title="msg.label"><i class="fa" v-bind:class="msg.icon" aria-hidden="true"></i></a>
                            </li>
                            <li v-for="sp in info.contact.social_profile">
                                <a :href="sp.profile_url" target="_blank" data-toggle='tooltip' :title="sp.label"><i class="fa" v-bind:class="sp.icon" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="profile-img" v-bind:style="{ 'background-image': 'url(' + info.profile_picture_url + ')' }"></div>
                </header>
                <!-- .header -->
            </div>
            <div class="col-lg-8 col-main-content">
                <div class="row d-none d-print-block">
                    <div class="col-lg-12">
                        <section class="section-wrapper section-header">
                            <div class="container-fluid text-center mx-auto">
                                <img :src="info.profile_picture_thumbnail_url" class="img-thumbnail rounded-circle" width="256" height="256">
                                <h1>{{ info.name }}</h1>
                                <h2>{{ info.headline }}</h2>
                                <ol class="breadcrumb font-weight-bold mx-auto mt-2 mb-4 p-0 bg-transparent justify-content-center">
                                    <li class="breadcrumb-item"><span><i class="fa fa-venus-mars" aria-hidden="true"></i> {{ info.gender }}</span></li>
                                    <li class="breadcrumb-item"><span><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{ dateFormat(info.birth_date,'MMM Do YYYY') }}</span></li>
                                    <li class="breadcrumb-item"><span><i class="fa fa-map-marker-alt" aria-hidden="true"></i> {{ info.contact.address }}</span></li>
                                    <li class="breadcrumb-item"><span><i class="fa fa-briefcase" aria-hidden="true"></i> {{ info.job.status }}</span></li>
                                </ol>
                            </div>
                        </section>
                        <!-- .section-header |print only| -->
                    </div>
                </div>
                <!-- .row -->
                <div class="row d-print-none">
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-end mt-3">
                            <ul class="list-inline">
                                <!-- <li class="list-inline-item">
                                    <button type="button" class="btn btn-primary rounded-circle btn-lg" onclick=""><i class="fa fa-file-download fa-fw"></i></button>
                                </li> -->
                                <li class="list-inline-item">
                                    <button type="button" title="Print" class="btn btn-outline-secondary rounded-circle btn-lg p-0 mx-auto" onclick="window.print()" style="width:48px; height:48px;"><span><i class="fa fa-print fa-fw"></i></span></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row">
                    <div class="col-lg-12 d-print-block">
                        <section class="section-wrapper section-intro">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12 d-print-none">
                                        <div class="section-title">
                                            <h2>Hello!</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <ol class="breadcrumb font-weight-bold mx-0 mt-2 mb-4 p-0 bg-transparent d-print-none">
                                            <li class="breadcrumb-item"><span><i class="fa fa-venus-mars" aria-hidden="true"></i> {{ info.gender }}</span></li>
                                            <li class="breadcrumb-item"><span :title="dateFormat(info.birth_date,'MMM Do YYYY')" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{ dateRelative(info.birth_date, true) }}</span></li>
                                            <li class="breadcrumb-item"><span :title="info.contact.address" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> {{ info.contact.address_country }}</span></li>
                                            <li class="breadcrumb-item"><span :title="info.job.detail" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-briefcase" aria-hidden="true"></i> {{ info.job.status }}</span></li>
                                        </ol>
                                        <p class="lead text-justify">{{ info.summary }}</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- .section-intro -->
                    </div>
                </div>
                <!-- .row -->
                <div class="row">
                    <div class="col-lg-6">
                        <section class="section-wrapper section-skills">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title">
                                            <h2><h2><i class="fa fa-bolt" aria-hidden="true"></i> My Skills</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="progress-wrapper">
                                            <div class="progress-item d-inline-flex justify-content-center py-2 px-3 mb-4 mx-auto" v-for="(ik, idx) in info.skills.industry_knowledge">
                                                <div class="ldBar lb-skill" v-bind:id="'lb-skill'+idx" data-preset="circle" :data-percentage="ik.percentage" data-duration="0.5" style="min-width:96px;min-height:96px;">
                                                    <i class="fa fa-2x" v-bind:class="ik.icon" aria-hidden="true"></i>
                                                    <span>{{ ik.name }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="content-item">
                                            <h3>Tools & Technologies</h3>
                                            <p><button v-for="tt in info.skills.tools_technologies" type="button" class="btn btn-sm rounded-pill btn-primary mr-1 mb-1">{{ tt }}</button></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- .section-skills -->
                    </div>
                    <!-- .col-lg-6 -->
                    <div class="col-lg-6 d-print-inline-flex">
                        <section class="section-wrapper section-showcase d-print-none">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title">
                                            <h2><h2><i class="fa fa-star" aria-hidden="true"></i> Showcase</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="carousel-showcase" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                                <div v-for="(sc, idx) in reverseList(info.showcase)" class="carousel-item" v-bind:class="idx == 0? 'active':''">
                                                    <a :href="sc.project_url" target="_blank">
                                                        <img class="d-block" :src="sc.image_thumbnail"/>
                                                        <div class="carousel-overlay">
                                                            <div class="carousel-caption d-sm-block">
                                                                <h5 class="text-truncate">{{ sc.title }}</h5>
                                                                <p>{{ sc.subtitle }}</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <ol class="carousel-indicators">
                                                <li v-for="(sc, idx) in info.showcase" data-target="#carousel-showcase" :data-slide-to="idx" :class="idx == 0? 'active':''"></li>
                                            </ol>
                                            <a class="carousel-control-prev" href="#carousel-showcase" role="button" data-slide="prev">
                                                <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carousel-showcase" role="button" data-slide="next">
                                                <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        <!-- #carousel-showcase -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="section-wrapper section-contact d-none d-print-block">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title">
                                            <h2><h2><i class="fa fa-address-card" aria-hidden="true"></i> Contact</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="list-unstyled text-left fa-ul">
                                            <li v-for="msg in info.contact.messenger">
                                                <span><i class="fa-li fa" v-bind:class="msg.icon" aria-hidden="true"></i><a :href="msg.profile_url" target="_blank" class="text-default">{{ msg.label_print }}</a></span>
                                            </li>
                                            <li v-for="sp in info.contact.social_profile">
                                                <span><i class="fa-li fa" v-bind:class="sp.icon" aria-hidden="true"></i><a :href="sp.profile_url" target="_blank" class="text-default">{{ sp.label_print }}</a></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- .section-contact |print only| -->
                        <section class="section-wrapper section-hobbies-interest">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title">
                                            <h2><i class="fa fa-heart" aria-hidden="true"></i> What I Love</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="content-item">
                                            <p><button v-for="hi in info.hobbies_interests" type="button" class="btn rounded-pill btn-primary mr-1 mb-1">{{ hi }}</button></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- .section-hobbies-interest -->
                    </div>
                    <!-- .col-lg-6 -->
                </div>
                <!-- .row -->
                <div class="d-print-pagebreak"></div>
                <div class="row">
                    <div class="col-lg-6">
                        <section class="section-wrapper section-experience pb-0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title"><h2><i class="fa fa-briefcase" aria-hidden="true"></i> Work Experience</h2></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="timeline col-lg-12">
                                        <div class="timeline-container" v-for="exp in reverseList(info.experience)">
                                            <div class="content-item ml-5">
                                                <small>{{ dateFormat(exp.date_start,"MMM YYYY") }} - <span v-if="exp.currently_working">Present</span><span v-else>{{ dateFormat(exp.date_end,"MMM YYYY") }}</span></small>
                                                <h3>{{ exp.title }}</h3>
                                                <h4>{{ exp.company }}</h4>
                                                <p>{{ exp.location }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- .section-experience -->
                        <section class="section-wrapper section-education">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title"><h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> My Education</h2></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="timeline col-lg-12">
                                        <div class="timeline-container" v-for="edu in reverseList(info.education)">
                                            <div class="content-item ml-5">
                                                <small>{{ dateFormat(edu.date_start,"YYYY") }} - {{ dateFormat(edu.date_end,"YYYY") }}</small>
                                                <h3>{{ edu.school }}</h3>
                                                <h4>{{ edu.degree }}<span v-if="edu.grade != null">, {{ edu.grade }}</span></h4>
                                                <p class="text-muted" v-if="edu.activity_society.length > 0">Activites and Societies: <span v-for="(as, idx) in edu.activity_society" :key="">{{ as }}<span v-if="idx+1 < edu.activity_society.length">, </span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- .section-education -->
                    </div>
                    <!-- .col-lg-6 -->
                    <div class="d-print-pagebreak"></div>
                    <div class="col-lg-6">
                        <section class="section-wrapper section-licenses-certifications pb-0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title"><h2><i class="fa fa-scroll" aria-hidden="true"></i> Long-life Learner</h2></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="content-item mb-4" v-for="licer in reverseList(info.licenses_certifications)">
                                            <h3>
                                                <a v-if="licer.credential_url != null" :href="licer.credential_url" class="text-decoration-none text-default" target="_blank" title="Click to see Credential">
                                                    {{ licer.name }} <i class="fa fa-link fa-xs" aria-hidden="true"></i>
                                                </a>
                                                <span v-else>{{ licer.name }}</span>
                                            </h3>
                                            <h4>{{ licer.organization }}</h4>
                                            <p class="mb-0">
                                                Issued {{ dateFormat(licer.date_issue,"MMM YYYY") }} &#183; <span v-if="licer.credential_expire">Expires on {{ dateFormat(licer.date_expire,"MMM YYYY") }}</span><span v-else>No Expiration</span>
                                                <span class="text-muted" v-if="licer.credential_id != null"><br/>Credential ID {{ licer.credential_id }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- .section-licenses-certifications -->
                        <section class="section-wrapper section-volunteer-experience">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title"><h2><i class="fa fa-hands-helping" aria-hidden="true"></i> Contributes for Better World</h2></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="content-item mb-4" v-for="ve in reverseList(info.volunteer_experience)">
                                            <h3>{{ ve.role }}</h3>
                                            <h4>{{ ve.organization }}</h4>
                                            <p class="mb-0">
                                                {{ dateFormat(ve.date_start,"MMM YYYY") }} - <span v-if="ve.currently_volunteering">Present</span><span v-else>{{ dateFormat(ve.date_end,"MMM YYYY") }}</span> &#183; {{ dateMonthDifference(ve.date_end, ve.date_start) }}
                                                <span class="text-muted"><br/>{{ ve.cause }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- .section-volunteer-experience -->
                    </div>
                    <!-- .col-lg-6 -->
                </div>
                <!-- .row -->
                <div class="d-print-pagebreak"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <section class="section-wrapper section-accomplishments">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title"><h2><i class="fa fa-medal" aria-hidden="true"></i> Accomplishments</h2></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 accordion" id="accordion-accomplishment">
                                        <div class="card" id="languages">
                                            <div class="card-header" id="heading-languages">
                                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-languages" aria-expanded="false" aria-controls="collapse-languages">
                                                    <h2 class="mb-0"><span class="text-primary">{{ info.accomplishments.languages.length }}</span>&ensp;<small><strong>Languages</strong></small><span class="float-right"><i class="fa fa-chevron-down trans d-print-none" aria-hidden="true"></i></span></h2>
                                                </button>
                                            </div>
                                            <div id="collapse-languages" class="collapse" aria-labelledby="heading-languages" data-parent="#accordion-accomplishment">
                                                <div class="card-body">
                                                    <div class="content-item mt-2 mb-0" v-for="(lang, idx) in info.accomplishments.languages">
                                                        <h4>{{ lang.name }}</h4>
                                                        <p class="text-muted mb-0">{{ lang.proficiency }}</p>
                                                        <hr class="d-print-none" v-if="idx+1 < info.accomplishments.languages.length"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .section-accomplishments#languages -->
                                        <div class="card" id="organizations">
                                            <div class="card-header" id="heading-organizations">
                                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-organizations" aria-expanded="false" aria-controls="collapse-organizations">
                                                    <h2 class="mb-0"><span class="text-primary">{{ info.accomplishments.organizations.length }}</span>&ensp;<small><strong>Organizations</strong></small><span class="float-right"><i class="fa fa-chevron-down trans d-print-none" aria-hidden="true"></i></span></h2>
                                                </button>
                                            </div>
                                            <div id="collapse-organizations" class="collapse" aria-labelledby="heading-organizations" data-parent="#accordion-accomplishment">
                                                <div class="card-body">
                                                    <div class="content-item mt-2 mb-0" v-for="(org, idx) in reverseList(info.accomplishments.organizations)">
                                                        <small>{{ dateFormat(org.date_start,"MMM YYYY") }} - <span v-if="org.membership_ongoing">Present</span><span v-else>{{ dateFormat(org.date_end,"MMM YYYY") }}</span></small>
                                                        <h4>{{ org.name }}</h4>
                                                        <p class="text-muted mb-0">{{ org.position }}</p>
                                                        <hr class="d-print-none" v-if="idx+1 < info.accomplishments.organizations.length"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .section-accomplishments#organizations -->
                                        <div class="card" id="projects">
                                            <div class="card-header" id="heading-projects">
                                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-projects" aria-expanded="false" aria-controls="collapse-projects">
                                                    <h2 class="mb-0"><span class="text-primary">{{ info.accomplishments.projects.length }}</span>&ensp;<small><strong>Projects</strong></small><span class="float-right"><i class="fa fa-chevron-down trans d-print-none" aria-hidden="true"></i></span></h2>
                                                </button>
                                            </div>
                                            <div id="collapse-projects" class="collapse" aria-labelledby="heading-projects" data-parent="#accordion-accomplishment">
                                                <div class="card-body">
                                                    <div class="content-item mt-2 mb-0" v-for="(prj, idx) in reverseList(info.accomplishments.projects)">
                                                        <small>{{ dateFormat(prj.date_start,"MMM YYYY") }} - <span v-if="prj.currently_working">Present</span><span v-else>{{ dateFormat(prj.date_end,"MMM YYYY") }}</span></small>
                                                        <h4>
                                                            <a v-if="prj.project_url != null" :href="prj.project_url" class="text-decoration-none text-default" target="_blank" title="Click to see Project">
                                                                {{ prj.name }} <i class="fa fa-link fa-xs" aria-hidden="true"></i>
                                                            </a>
                                                            <span v-else>{{ prj.name }}</span>
                                                        </h4>
                                                        <p class="text-muted mb-0">{{ prj.type }}</p>
                                                        <hr class="d-print-none" v-if="idx+1 < info.accomplishments.projects.length"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .section-accomplishments#projects -->
                                    </div>
                                    <!-- #accordion-accomplishments -->
                                </div>
                            </div>
                        </section>
                        <!-- .section-accomplishments -->
                    </div>
                </div>
                <!-- .row -->
                <div class="row d-print-none">
                    <div class="col-lg-12">
                        <footer>
                            <div class="container">
                                <p class="text-muted">
                                    &copy;2020 Pandawa Sudewa &#183; This site use these <a href="#" data-toggle="modal" data-target="#modal-credit">free and open-source libraries</a><br/>
                                    <small>v{{ version }} &#183; Last update {{ dateRelative(updated_at,false) }} &#183; Powered by <a href="https://pages.github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Pages</a></small>
                                </p>
                            </div>
                            <div class="modal fade d-print-none" id="modal-credit" data-keyboard="false" tabindex="-1" aria-labelledby="label-credit" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="label-credit">Site Libraries</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container text-center">                                     
                                                <div class="btn-group-vertical btn-block">
                                                    <a class="btn btn-bootstrap btn-lg" href="https://getbootstrap.com/" target="_blank"><i class="fab fa-bootstrap text-default" aria-hidden="true"></i> Bootstrap</a>
                                                    <a class="btn btn-vuejs btn-lg" href="https://vuejs.org/" target="_blank"><i class="fab fa-vuejs text-default" aria-hidden="true"></i> Vue.js</a>
                                                    <a class="btn btn-fontawesome btn-lg" href="https://fontawesome.com/" target="_blank"><i class="fa fa-font-awesome text-default" aria-hidden="true"></i> Font Awesome</a>
                                                    <a class="btn btn-primary" href="https://jquery.com/" target="_blank">jQuery</a>
                                                    <a class="btn btn-primary" href="https://github.com/axios/axios" target="_blank">Axios</a>
                                                    <a class="btn btn-primary" href="https://momentjs.com/" target="_blank">Moment.js</a>
                                                    <a class="btn btn-primary" href="https://popper.js.org/" target="_blank">Popper.js</a>
                                                    <a class="btn btn-primary" href="https://loading.io/progress/" target="_blank">LoadingBar.js</a>
                                                    <a class="btn btn-primary" href="https://loading.io/transition/" target="_blank">Transition.css</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #modal-credit -->
                        </footer>
                    </div>
                </div>
                <!-- .row -->
            </div>
        </div>
        <script>
            var vapp = new Vue({
                el: '#vmain',
                data: __pdata,
                methods: {
                    reverseList: function (array) {
                        return array.slice().reverse();
                    },
                    dateFormat: function (date, stringFormat) {
                        return moment(date).format(stringFormat);
                    },
                    dateRelative: function (date, withoutSuffix) {
                        return moment(date).fromNow(withoutSuffix);
                    },
                    dateMonthDifference: function (date1, date2) {
                        
                        let a = (date1 != ""?moment(date1):moment());
                        let b = (date2 != ""?moment(date2):moment());
                        let c = a.diff(b, 'months');

                        return (c > 1? (c+" mos"):(c+" mo"));
                    }
                }
            });

            $(function () {

                $('.lb-skill').each(function(index) {
                    let data = $(this).attr('data-percentage');
                    let loadingBars = new ldBar('#lb-skill'+index);
                    let hide = setTimeout(() => {
                        loadingBars.set(data,true);
                    }, 2000);
                });

                $('[data-toggle="tooltip"]').tooltip();

                $('button[data-toggle="collapse"]').on('click', function () {
                    
                    if($(this).attr('aria-expanded') === "false"){
                        
                        $(this).find('.trans').toggleClass("trans-rt180");
                    }
                });

                $('.accordion').on('shown.bs.collapse', function (e) {
                    location.href = '#'+$(e.target).parent().attr('id');
                });
                
                $('.accordion').on('hide.bs.collapse', function (e) {
                    $(e.target).siblings().find('.trans').toggleClass("trans-rt180");
                });
            });
        </script>