/*
 * Loader CSS Style
 */

.loader-container {
  position: fixed;
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  overflow: hidden;
}

.loader {
  z-index: 9999;
  padding: 0 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-bar.ldBar > .ldBar-label {
  color: #e5e5e5;
}

.loader-bar.ldBar path.mainline {
  stroke-linecap: round;
}

.loader-bar.ldBar path.baseline {
  stroke-linecap: round;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 6px;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  z-index: 4999;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
body::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}