html {
    scroll-behavior: smooth;
}

body {
    color           : #1a1a1a;
    background-color: #e5e5e5;
}

footer {
    margin-top:10rem;
}

.row {
    margin-left : 0 !important;
    margin-right: 0 !important;
}

.bg-dark {
    background-color: #1a1a1a !important;
}

/* Button */

.btn-primary {
    background-color: #00afdb;
    border-color: #00aeda;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(0, 147, 184);
    border-color: #0093b8;
}

.btn.btn-pill {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.btn-bootstrap {
    color: #fff;
    background-color: #7855b0;
    border-color: #7855B0;
}

.btn-bootstrap:hover, .btn-bootstrap:active, .btn-bootstrap:focus, .btn-bootstrap:not(:disabled):not(.disabled).active, .btn-bootstrap:not(:disabled):not(.disabled):active, .show>.btn-bootstrap.dropdown-toggle {
    color: #fff;
    background-color: #67479a;
    border-color: #67479a;
}

.btn-vuejs {
    color: #fff;
    background-color: #45B786;
    border-color: #45B786;
}

.btn-vuejs:hover, .btn-vuejs:active, .btn-vuejs:focus, .btn-vuejs:not(:disabled):not(.disabled).active, .btn-vuejs:not(:disabled):not(.disabled):active, .show>.btn-vuejs.dropdown-toggle {
    color: #fff;
    background-color: #3b9b72;
    border-color: #3b9b72;
}

.btn-fontawesome {
    color: #fff;
    background-color: #359DEC;
    border-color: #359DEC;
}

.btn-fontawesome:hover, .btn-fontawesome:active, .btn-fontawesome:focus, .btn-fontawesome:not(:disabled):not(.disabled).active, .btn-fontawesome:not(:disabled):not(.disabled):active, .show>.btn-fontawesome.dropdown-toggle {
    color: #fff;
    background-color: #168ee9;
    border-color: #168ee9;
}

.main.row, .col-big-picture, .col-main-content {
    padding : 0 !important;
    margin  : 0 !important;
}

/* Column */

.col-big-picture {
    overflow    : hidden;
    position    : fixed;
    left        : 0;
}

.col-main-content {
    position        : absolute;
    right           : 0;
    box-shadow      : -10px -10px 30px rgba(0, 0, 0, 0.38);
}

@media (max-width : 576px) {
    .col-big-picture {
        width       : 100%;
        position    : relative;
    }

    .col-main-content {
        width       : 100%;
        position    : relative;
        box-shadow  : none;
    }
}

/* Global Typography */

h1, h2, h3, h4, h5, h6 {
    color: #1a1a1a;
}

h1 {
    font-size   : 26px;
    line-height : 1.8em;
    font-weight : 700;
}

h2 {
    font-size   : 22px;
    line-height : 1.8em;
    font-weight : 700;
}

h3 {
    font-size   : 16px;
    line-height : 1.8em;
    font-weight : 500;
}

h4 {
    font-size   : 15px;
    line-height : 1.8em;
    font-weight : 500;
}

h5 {
    font-size   : 15px;
    line-height : 1.5em;
    font-weight : 500;
}

h6 {
    font-size   : 15px;
    line-height : 1.5em;
}

i, a {
    color: #00aeda;
}

a:hover, a:active, a:focus, a:not(:disabled):not(.disabled).active, a:not(:disabled):not(.disabled):active, .show>a.dropdown-toggle {
    color: #0093b8;
}

.text-default {
    color: inherit !important;
}

.text-primary {
    color: #00aeda !important;
}

/* HEADER */

.header {
    padding        : 0;
    margin         : 0;
    height         : 100vh;
    vertical-align : middle;
    position       : relative;
}

.header .profile-img {
    position            : absolute;
    top                 : 0;
    left                : 0;
    z-index             : -1;
    width               : 100%;
    height              : 100%;
    background-image    : url(../img/profpic_2020.jpg);
    background-size     : cover;
    background-position : center center;
}

.header .profile-img:before {
    content    : "";
    position   : absolute;
    left       : 0;
    top        : 0;
    right      : 0;
    bottom     : 0;
    background : linear-gradient(
        -5deg,
        #00aeda80 0%,
        #00aeda80 15%,
        transparent 50%,
        transparent 100%);
}

.header .content {
    position : absolute;
    bottom   : 0;
    left     : 0;
    right    : 0;
    width    : 100%;
    margin   : 0 auto;
    padding  : 13% 10%;
}

.header .content h1 {
    font-size   : 48px;
    color       : #fff;
    line-height : 1.5;
    margin      : 0;
}

.header .content h2 {
    font-size : 18px;
    color     : #ffffff;
    line-height: 1.5;
    margin-bottom: 1.2rem;
}

.header .btn {
    margin-top : 40px;
}

.header .content .social-icon {
    margin  : 0;
    padding : 0;
    display : block;
}

.header .content .social-icon li {
    display     : inline-block;
    margin      : 0 4px;
    line-height : 1;
}

.header .content .social-icon li a {
    display       : block;
    font-size     : 16px;
    color         : #ffffff;
    width         : 40px;
    height        : 40px;
    line-height   : 36px;
    text-align    : center;
    border-radius : 100%;
    border        : 2px solid rgba(255, 255, 255, .2);
}

.header .content .social-icon li a:hover {
    border-color : #ffffff;
}

.header .content .social-icon i {
    color: inherit;
}

@media (max-width : 576px) {
    .header .profile-img {
        z-index : 1;
    }

    .header .content {
        z-index : 2;
    }
}

@media (min-width: 1440px) {
    .header .profile-img {
        background-position: center top;
    }
}

/* Section Wrapper */
.section-wrapper {
    padding : 25px 50px;
}

@media (max-width : 480px) {
    .section-wrapper {
        padding : 30px 20px;
    }
}

/* Section Title */
.section-title {
    margin-bottom   : 20px;
    text-align      : left;
}

.section-title h2 {
    font-size: 1.75rem;
}

/* Content Item */

.content-item {
    margin-bottom : 40px;
    text-align: left;
}

.content-item h3 {
    margin         : 0 0 10px;
    line-height    : 1;
    font-weight    : bold;
    text-transform : uppercase;
}

.content-item h4 {
    margin      : 0;
    line-height : 1;
}

.content-item small {
    color : #00aeda;
}

/* Progress Item */

.progress-wrapper {
    padding-top: 2.25em !important;
}

.progress-item {
    min-width: 145px;
    min-height:200px;
    text-align: center;
}

.progress-item i {
    color: #00aeda;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.progress-item span {

    position: absolute;
    text-transform: uppercase;
    vertical-align: text-bottom;
    font-weight: 600;
    top: 155%;
    left: 50%;
    -webkit-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}

.progress-item .ldBar-label {
    color: #e5e5e5;
    z-index: -1;
}

.progress-item .ldBar path.mainline {
    stroke-width: 10;
    stroke: #00aeda;
    stroke-linecap: round;
    border: 2px solid #e5e5e5;
}

.progress-item .ldBar path.baseline {
    stroke-width: 3;
    stroke: #808080;
    stroke-linecap: round;
}

/* Timeline */

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #808080;
    top: 0;
    bottom: 0;
    left: 1.5rem;
}

.timeline-container::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    left: 17px;
    background-color: #00aeda;
    border: 2px solid #00aeda;
    border-radius: 50%;
    z-index: 1;
    margin-top: 1.5rem;
}

/* Carousel */

.carousel .carousel-inner {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.carousel .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 1;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    transition: opacity .15s ease, background .15s ease;
    -webkit-transition: opacity .15s ease, background .15s ease;
    -moz-transition: opacity .15s ease, background .15s ease;
    -o-transition: opacity .15s ease, background .15s ease;
}

.carousel .carousel-overlay:hover, .carousel .carousel-overlay:focus {
    opacity: 1;
    background: #0000004d;
}

.carousel .carousel-item .carousel-caption {
    bottom: 15px;
    padding-bottom: 0;
}

.carousel .carousel-item .carousel-caption h5 {
    color: #fff;
    margin-bottom: .0;
}

.carousel .carousel-item .carousel-caption p {
    font-size: 14px;
    color: #fff;
    margin-bottom: .5em;
}

.carousel .carousel-indicators {
    bottom: -9%;
}

.carousel .carousel-indicators li {
    background-color: #00afdb;
}

.carousel-control-next {
    width: 10%;
    -moz-top-right-border-radius: 15px;
    -webkit-top-right-border-radius: 15px;
    border-top-right-radius: 15px;
    -moz-bottom-right-border-radius: 15px;
    -webkit-bottom-right-border-radius: 15px;
    border-bottom-right-radius: 15px;
}

.carousel-control-prev {
    width: 10%;
    -moz-top-left-border-radius: 15px;
    -webkit-top-left-border-radius: 15px;
    border-top-left-radius: 15px;
    -moz-bottom-left-border-radius: 15px;
    -webkit-bottom-left-border-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Accordion Card */

.accordion .card {
    background-color: #e5e5e5;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion .card:not(:last-of-type), .accordion .card:not(:first-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion .card-header {
    background-color: #e5e5e5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion .card-header button>i{
    background-color: #e5e5e5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion .card-body:not(:first-of-type) {
    padding-top: 0;
}

.accordion .card-body:not(:last-of-type) {
    padding-bottom: 0;
}

/* Section Intro */

.section-intro .section-title h2 {
    font-size: 4.5em !important;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 1.8rem;
}

.section-intro p.lead {
    font-weight: normal;
}

/* Section Licenses & Certifications */

.section-licenses-certifications .content-item h3>a:hover,
.section-licenses-certifications .content-item h3>a:focus,
.section-licenses-certifications .content-item h3>a:active {
    color: #00aeda !important;
}

.section-licenses-certifications .content-item h3>a:active {
    color: #0093b8 !important;
}

/* Sub-section Projects - Accomplishments */
.section-accomplishments .accordion .card .content-item h4>a:hover,
.section-accomplishments .accordion .card .content-item h4>a:focus,
.section-accomplishments .accordion .card .content-item h4>a:active {
    color: #00aeda !important;
}

.section-accomplishments .accordion .card .content-item h4>a:active {
    color: #0093b8 !important;
}

/* Transistion */
.trans {
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.trans-rt180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}